.blog-text {
    display: flex;
    justify-content: center;
  }
  
  .blog {
    font-size: 32px;
    font-weight: bold;
  }
  
  .blog-layout-container {
    display: flex;
    justify-content: center;
  }
  
  .book-cover,
  .aerial-view-book,
  .books-and-flowers {
    flex: 1;
  }
  
  .big {
    width: 100%;
    height: 70%;
  }
  
  .button {
    display: flex;
    justify-content: center;
    margin-top: -15%;
  }
  
  .button button {
    background-color:rgb(43,89,106);
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .button button:hover {
    background-color: #0056b3;
  }

  