.title{
    text-align: center;
    color: rgb(43,89,106);
    font-size: 20px;
}
.loom-video{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 180px;
    text-decoration: none;
}
.videos2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 180px;
    margin-top: 70px;
}
.loom-video3{
    /* align-items: center; */
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 70px;
    text-align: center;
}
.video-thumbnail {
    position: relative;
    display: inline-block;
  }
  .video-thumbnail iframe {
    width: 580px;
    height: 290px;
    box-shadow: 0 8px 12px 0 black;
  }
  .video-title{
    color: black;
  }
  @media screen and (min-width:280px) and (max-width: 319px){
    .loom-video{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
  }
  .video-thumbnail iframe {
    width: 250px;
    height: 175px;
  }
  .videos2{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-top: 30px;
}
.loom-video3{
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-top: 20px;
}
.title{
  font-size: medium;
  text-align: center;
}
  }
  @media screen and (min-width:320px) and (max-width:480px){
    .loom-video{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
  }
  .video-thumbnail iframe {
    width: 350px;
    height: 175px;
  }
  .videos2{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-top: 30px;
}
.loom-video3{
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-top: 20px;
}
}
@media only screen and (min-width: 481px) and (max-width: 650px){
  .loom-video{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.video-thumbnail iframe {
  width: 470px;
  height: 295px;
}
.videos2{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-top: 30px;
}
.loom-video3{
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-top: 20px;
}
}
@media only screen and (min-width: 651px) and (max-width: 820px){
  .loom-video{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.video-thumbnail iframe {
  width: 470px;
  height: 295px;
}
.videos2{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-top: 30px;
}
.loom-video3{
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-top: 20px;
}
}
@media only screen and (min-width: 821px) and (max-width: 1020px){
  .loom-video{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.video-thumbnail iframe {
  width: 770px;
  height: 495px;
}
.videos2{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-top: 30px;
}
.loom-video3{
  margin-bottom: 20px;
  margin-left: 20%;
}
.title{
  font-size: xx-large;
  text-align: center;
}
.video-title{
  font-size: x-large;
}
}
@media only screen and (min-width: 1021px) and (max-width: 1300px){
  .loom-video{
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-thumbnail iframe {
  width: 400px;
  height: 250px;
}
}