.whole {
    font-family: serif;
    color: white;
  background-color:rgb(43,89,106);


  }
  
  .port {
    color: #11074d;
    font-size: 20px;
  }
  
  .pic {
    border-radius: 50%;
    width: 242px;
    height: 242px;
  }
  
  .top,
  .bottom {
    display: flex;
    gap: 900px;
  }
  
  .bottom {
    margin-top: -90px;
  }
  
  .title {
    color: #11074d;
    font-size: 50px;
  }
  
  .caption {
    font-size: 20px;
    color: #11074d;
  }
  
  .akwang {
    margin-top: -170px;
    margin-left: 700px;
    color: #050313;
  }
  .ivy{
    color: #050313;
    margin-left: 100px;
  }
  .ajema{
    color: #050313;
    margin-left: 100px;
  }
  .raziah{
    color: #050313;
  }
  .fanny{
    color: #050313;
  }
  
  .one {
    display: flex;
  }
  
  .heading {
    display: flex;
  }
  
  .images {
    margin-left: 7%;
    font-size: 1.1rem;
  }
  .team{
    text-align: center;

    color: hsl(249, 54%, 97%);
  }

