/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.landing_inspo {
  background-image: url('/public/images/microphone.jpg');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

header {

  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo img {
  width: 50px;
  height: auto;
  /* margin-left: 10px; */
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 1rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 2px 0;
  transition: 0.4s;
}

main {
  flex: 1;
  padding: 2rem;
}




.hero-content h5 {
  margin-left:50%;
  font-size:70px;
  margin-top:15%;
  color:white;
}

.hero-image {
  width: 100%;
}

.hero-image img {
  height: 100vh;
  width: 900px;
  
}

@media screen and (max-width: 1024px) {
  .hero-image img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  nav.open .nav-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(56, 44, 190);
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  nav.open .nav-links li {
    margin: 1rem 0;
  }

  nav.open .hamburger {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 11;
  }

  nav.open .hamburger span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  nav.open .hamburger span:nth-child(2) {
    opacity: 0;
  }

  nav.open .hamburger span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .hero {
    flex-direction: column;
    text-align: center;
    margin-top: 80px;
  }

  .hero-content, .hero-image {
    width: 100%;
  }

  .hero-content {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .hero-content h1 {
    font-size: 1.2rem;
  }

  .hero {
    margin-top: 40px;
  }
}